In [1]:
# ex 4-1
for x in range(5):
    print('안녕하세요.',x)

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [4]:
x=0
while x<5 :
    print('안녕하세요.')
    x+=1

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [5]:
x=0
while x<5 :
    print('안녕하세요.',x)
    x+=1

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [7]:
# ex4-3
for i in range(11, 1,  -1) :
    print(i)

11
10
9
8
7
6
5
4
3
2

In [12]:
# ex4-3
# sum = 1 + 2 + ... + 10
sum = 0
for i in range(1,11):
    sum +=i
print(sum)

55

In [16]:
# ex 4-4
for i in range(10):
    print(i,end=' ')
print()

for i in range(1,11):
    print(i,end=' ')
print()

for i in range(1,10,2):
    print(i, end=' ')
print()

for i in range(20, 0, -2):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
20 18 16 14 12 10 8 6 4 2

In [17]:
# ex 4-5
sum = 0
for i in range(1,101):
    if i%3 ==0 :
        print('%d'%i,end='')
        sum +=i
        
print('\n','-'*50)
print('1~100에서 3의 배수의 합계 : %d'%sum)

369121518212427303336394245485154576063666972757881848790939699
 --------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

In [18]:
#ex 4-6
word = input('영어 문장을 입력하세요.')

for x in word:
    print(x)

영어 문장을 입력하세요.hello
h
e
l
l
o

In [28]:
#ex 4-7
print('-'*30)
print('      섭씨    화씨')
print('-'*30)

for c in range(-20,31,5) :
    f = c*9.0/5.0 + 32.0
    print('%8d  %6.1f'%(c,f))
    
print('-'*30)

------------------------------
      섭씨    화씨
------------------------------
     -20    -4.0
     -15     5.0
     -10    14.0
      -5    23.0
       0    32.0
       5    41.0
      10    50.0
      15    59.0
      20    68.0
      25    77.0
      30    86.0
------------------------------

In [31]:
# Q 4-1 5의 배수가 아닌 수의 합계 구하기

n1 = int(input('시작 수를 입력하세요. : '))
n2 = int(input('끝 수를 입력하세요. : '))

sum = 0
for i in range(n1, n2+1):
    if i%5 != 0 :
        sum +=i

print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d', %(n1, n2, sum))

SyntaxError: invalid syntax (<ipython-input-31-4976397227f5>, line 12)

In [32]:
# Q 4-2

In [ ]:
# Q 4-3

In [ ]:
# Q 4-4

In [33]:
# Q 4-5

In [34]:
# Q 4-6 홀수 개수 세기

In [35]:
# ex 4-8 2단 구구단표 만들기

a=2

for b in range(1,10):
    c= a*b
    print('%d x %d = %d'%(a,b,c))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [38]:
# ex 4-9 전체 구구단표 만들기

print('-'*50)

for i in range(2,10):
    for k in range(1,10):
        print('%d x %d = %2d'%(i,k,i*k))
    print('-'*50)

--------------------------------------------------
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

In [41]:
#Q 4-7 q별표로 특정 형태 만들기

for i in range(1,11):
    for j in range(1,i+1) :
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [48]:
#Q 4-8 별표로 특정 형태 만들기

for i in range(1,11):
    for k in range(1,11-i):
        print(' ',end='')
    for k in range(1,1+i):
        print('*',end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [49]:
# 다이아몬드

num = int(input('제일 긴 값을 입력해 주세요.'))

for i range

In [50]:
# ex 4-10

sum = 0
i=1
while i <= 10 :
    sum =+i
    print('i의 값 : %d => 합계 : %d'%(i,sum))
    i+=1

i의 값 : 1 => 합계 : 1
i의 값 : 2 => 합계 : 2
i의 값 : 3 => 합계 : 3
i의 값 : 4 => 합계 : 4
i의 값 : 5 => 합계 : 5
i의 값 : 6 => 합계 : 6
i의 값 : 7 => 합계 : 7
i의 값 : 8 => 합계 : 8
i의 값 : 9 => 합계 : 9
i의 값 : 10 => 합계 : 10

In [ ]:
# ex 4-11

n1 = int(input('첫 수를 입력하세요. : '))
n2 = int(input('끝 수를 입력하세요. : '))
n = int(input('합계를 구하고자 하는 배수를 입력하세요. : '))

sum = 0
i = n1

while i<n2+1 :
    if i%n ==0 :
        sum +=i
    
    i +=1

print('%d~%d 까지의 정수 중 %d의 배수의 합계 : %d'%(n1,n2,n,sum))

In [ ]:
# 1000보다는 작지만 가장 가까운 수는 몇까지 더한 값인가?

sum = 0
count = 1
while True :
    if sum > 1000 :
        break
    sum += count
    count += 1
print(sum-count, count)

In [5]:
# 중첩에서 break
for i in range(5):
    print('i =', i,':', end=' ')
    for k in range(5):
        if k == i:
            break;
        print(k, end= ' ')
    print()

i = 0 :
i = 1 : 0
i = 2 : 0 1
i = 3 : 0 1 2
i = 4 : 0 1 2 3