# Tuple

In [1]:
# tuple 만들기
# odds = (1,3,5,7,9)
odds = tuple(range(1,10,2))
print(odds)

(1, 3, 5, 7, 9)

In [5]:
#표현식(1, 4, 9, 16, 25)
squares = tuple(i*i for i in range(1,6)) # 리스트 표현식
print(squares)

(1, 4, 9, 16, 25)

In [6]:
#표현식(1, 9, 25, 49, 81)
odd_squares = tuple(i*i for i in range(1,10) if i % 2 == 1)
print(odd_squares)

(1, 9, 25, 49, 81)

## Sequence 객체

In [9]:
#특정 값이 있는지 확인하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)

True
False

In [12]:
print(100 not in a)
print(30 not in a)

True
False

In [13]:
43 in (38, 76, 43, 62, 19)

True

In [14]:
1 in range(10)

True

In [17]:
'P' in 'Hello, Python'

True

In [18]:
# 시퀀스 객체 연결한기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a+b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [20]:
print((1,2,3)+(10,20,30))
print('hello'+ ' '+ 'world!')

(1, 2, 3, 10, 20, 30)
hello world!

In [21]:
range(1,10) + range(10,20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [22]:
tuple(range(1,10))+tuple(range(10,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [24]:
#문자열과 숫자 연결

'python'+3 #이렇게 안됨

TypeError: can only concatenate str (not "int") to str

In [26]:
print('Python' + str(3))
print('Python' + str(3.3))

Python3
Python3.3

In [28]:
# 시퀀스 객체 반복하기
print([1,2,3]*3)
print(3*[1,2,3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
print((1,2,3)*3)
print('Python'*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
PythonPythonPython

In [33]:
tuple(range(1,5))*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [34]:
list(range(1,5))*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [38]:
##########################################
a=(11, 22, 33, 44, 55, 66, 77, 88, 99)
print(a[0:9:4])
print(a[::4])

(11, 55, 99)
(11, 55, 99)

In [43]:
members = {'name':'안지영', 'age':30, 'email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d'%len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [45]:
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80}

scores['kor']=70
print(scores['kor'])

scores['music']=100
print(scores)

del scores['science']
print(scores)

print('이름 : %s'%name)
print('국어 : %d'%scores['kor'])
print('영어 : %d'%scores['eng'])
print('수학 : %d'%scores['math'])

70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [48]:
phones = {'갤럭시 노트8': 2017, '갤럭시 S9': 2018,  '갤럭시 노트10':2019,'갤럭시 S20':2020}
print(phones)

for key in phones:
    print('%s => %s'%(key, phones[key]))
    
    print(phones[key])
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
2017
갤럭시 S9 => 2018
2018
갤럭시 노트10 => 2019
2019
갤럭시 S20 => 2020
2020
4

In [53]:
lux1 = dict(health=490,mana=334,melee=550,armor=18.72)
print(lux1)

for key in lux1:
    print('%s = %s'%(key,lux1[key]))

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
health = 490
mana = 334
melee = 550
armor = 18.72

In [55]:
'health' in lux1

True

In [76]:
# 연습문제 1

shopping = dict(kim99=12000, lee66=11000, han55=3000, hong77=5000, hwang33=18000)
for i in shopping:
    print('아이디 : %s, 마일리지 : %d 점'%(i,shopping[i]))

아이디 : kim99, 마일리지 : 12000 점
아이디 : lee66, 마일리지 : 11000 점
아이디 : han55, 마일리지 : 3000 점
아이디 : hong77, 마일리지 : 5000 점
아이디 : hwang33, 마일리지 : 18000 점

In [97]:
# 연습문제 2
shopping = dict(kim99=12000, lee66=11000, han55=3000, hong77=5000, hwang33=18000)


shopping.update(han55=5000)


for i in shopping :
    if i == 'han55' :
        print('%s 님의 마일리지가 %d점으로 수정되었습니다.'%(i,shopping[i]))

han55 님의 마일리지가 5000점으로 수정되었습니다.

In [100]:
# 연습문제 3
shopping = dict(kim99=12000, lee66=11000, han55=3000, hong77=5000, hwang33=18000)

shopping['jang88']=7000
#shopping.setdefault(jang88,7000)

print(shopping)

for i in shopping :
    if i == 'jang88' :
        print('%s 님의 마일리지가 (%d점)가 추가되었습니다.'%(i,shopping[i]))

{'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}
jang88 님의 마일리지가 (7000점)가 추가되었습니다.

In [106]:
# 연습문제 4
shopping = dict(kim99=12000, lee66=11000, han55=3000, hong77=5000, hwang33=18000)

b=shopping['hong77']#12000

for i in shopping:
    if shopping[i]>b :
        b=shopping[i]
print('%s 님의 %d점이 가장 높은 점수입니다.'%(i,shopping[i]))

hwang33 님의 18000점이 가장 높은 점수입니다.

In [128]:
# 연습문제 5

temp = dict(월=25.5 ,화=28.3 ,수=33.2 ,목=32.1 ,금=17.3 ,토=35.3 ,일=33.3)
print('-'*40)

for i in temp :
    print(i,end='    ')
print()
print('-'*40)
for i in temp :
    print(temp[i],end='  ')
print()
print('-'*40)

----------------------------------------
월    화    수    목    금    토    일
----------------------------------------
25.5  28.3  33.2  32.1  17.3  35.3  33.3
----------------------------------------

In [130]:
# 연습문제 6
l = temp['월'] # 25.5
for i in temp :
    if temp[i]<l:
        print('가장 낮은 기온 : %.1f'%temp[i])

가장 낮은 기온 : 17.3

In [155]:
# 연습문제 7
F = 30
G = []

for i in temp:
    if temp[i]>F:
        G.append(i)
print('기온이 30도 이상인 요일 : ', end = '')
for i in range(len(G)):
    print(G[i], end=' ')

기온이 30도 이상인 요일 : 수 목 토 일

In [158]:
# 연습문제 8
sum=0

for i in temp:
    temp[i]
    sum+=temp[i]

avg= sum/len(temp)

print('일주일간 기온의 평균 : %.1f'%avg)

일주일간 기온의 평균 : 29.3