In [1]:
import numpy as np
import pandas as pd

In [31]:
gdp= pd.read_excel('GDP디플레이터.xlsx',thousands=' ').fillna('-')
gdp.head()

TypeError: 'RangeIndex' object is not callable

# 한국 과 일본의 1990년과 2010년의 GDP 상승률 비교

In [36]:
gdp1=gdp.iloc[[1,16],:]
gdp1

      국가별 1990   2000  2010   2018
1   　　　한국    -   72.1  92.7  104.7
16  　　　일본    -  112.2   100      -

In [35]:
np.where(gdp['국가별']=='일본')

(array([], dtype=int64),)

In [ ]:
gdp1['']