# SQLite 훈련

In [1]:
import sqlite3

In [4]:
conn = sqlite3.connect('./test.db')

In [6]:
cur = conn.cursor()
cur.execute('SELECT*FROM eagles')
rows = cur.fetchall()

In [7]:
rows

[(3, 22, '이태양', '투수'),
 (36, 31, '송창식', '투수'),
 (40, 13, '최재훈', '포수'),
 (41, 14, '강경학', '내야수'),
 (42, 52, '김태균', '내야수'),
 (43, 24, '김회성', '내야수'),
 (44, 6, '오선진', '내야수'),
 (46, 38, '안영명', '투수'),
 (47, 50, '이성열', '외야수'),
 (48, 104, '임종찬', '외야수')]

In [10]:
cur.execute("SELECT*FROM eagles WHERE position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(3, 22, '이태양', '투수')
(36, 31, '송창식', '투수')
(46, 38, '안영명', '투수')

In [11]:
conn.close

# 데이터 추가

In [16]:
cur.execute("INSERT INTO eagles (back_no, name, position) VALUES(1, '하주석','내야수')")

In [17]:
cur.execute("SELECT*FROM eagles WHERE position = '내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(41, 14, '강경학', '내야수')
(42, 52, '김태균', '내야수')
(43, 24, '김회성', '내야수')
(44, 6, '오선진', '내야수')
(49, 1, '하주석', '내야수')

In [18]:
## DB에 반영
conn.commit()

In [31]:
#여기서 부터

In [22]:
# 파라메터 : 튜블을 사용해서 전달

back_no = 25
name = '최진행'
position = '외야수'
sql ='INSERT INTO eagles (back_no, name, position) VALUES(?, ?, ?)'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [23]:
# 튜플 리스트 사용 *********************************

players = [(44, '서폴드','투수'),(54,'서균','투수')]
for player in players :
    cur.execute(sql, player)
conn.commit()

In [25]:
# executemany() 사용

players = [(48, '벨','투수'),(53,'김민우','투수')]
cur.executemany(sql, players)
conn.commit()

# 데이터 조회

In [26]:
# 순회 조회
sql = "select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(40, 13, '최재훈', '포수')

In [27]:
# 한 건 조회 *************************************************

cur.execute(sql)
result =  cur.fetchone() # 한번에 하나씩 순서대로 가지고 온다.
print(result)

(40, 13, '최재훈', '포수')

In [28]:
result =  cur.fetchone()
print(result)

None

In [29]:
# 갯수 지정 조회
sql = "select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(3, 22, '이태양', '투수'), (36, 31, '송창식', '투수'), (46, 38, '안영명', '투수')]

In [32]:
# 전부 조회 ************************************************
sql = "select * from eagles where position = '내야수'"
cur.execute(sql)
result =cur.fetchall()
result

[(41, 14, '강경학', '내야수'),
 (42, 52, '김태균', '내야수'),
 (43, 24, '김회성', '내야수'),
 (44, 6, '오선진', '내야수'),
 (49, 1, '하주석', '내야수')]

In [34]:
# 필요한 컬럼만 조회

sql = "select back_no, name from eagles where back_no >20"
cur.execute(sql)
result =cur.fetchall()
result

[(22, '이태양'),
 (31, '송창식'),
 (52, '김태균'),
 (24, '김회성'),
 (38, '안영명'),
 (50, '이성열'),
 (104, '임종찬'),
 (25, '최진행'),
 (44, '서폴드'),
 (54, '서균'),
 (48, '벨'),
 (53, '김민우')]

In [35]:
# 백넘버가 20~29까지인 선수

sql = "select * from eagles where back_no between 20 and 29"
cur.execute(sql)
result =cur.fetchall()
result

[(3, 22, '이태양', '투수'), (43, 24, '김회성', '내야수'), (50, 25, '최진행', '외야수')]

In [37]:
# 백넘버가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result =cur.fetchone()
result

(48, 104, '임종찬', '외야수')

In [39]:
# 포지션별 사람수

sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
result =cur.fetchall()
result

[('내야수', 5), ('외야수', 3), ('투수', 7), ('포수', 1)]

## 데이터 검색

In [46]:
# back_no 가 57번인 선수는?

back_no = 38
sql = "select * from eagles where back_no = ?"
cur.execute(sql, back_no)
result =cur.fetchall()
result

ValueError: parameters are of unsupported type

In [47]:
cur.execute(sql, (back_no,))
result = cur.fetchall()
result

[(46, 38, '안영명', '투수')]

## 데이터 변경

In [52]:
# id가 49인 하주석 선수의 포지션을 외야수로 변경
id_ = 49
position = '외야수'
sql = "UPDATE eagles SET position = ? WHERE id = ?"
cur.execute(sql, (position, id_))
conn.commit()

## 데이터 삭제

In [53]:
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id_,))
conn.commit()