In [1]:
import numpy as np
import pandas as pd

In [31]:
gdp= pd.read_excel('GDP디플레이터.xlsx',thousands=' ').fillna('-')
gdp.head()

TypeError: 'RangeIndex' object is not callable

# 한국 과 일본의 1990년과 2010년의 GDP 상승률 비교

In [36]:
gdp1=gdp.iloc[[1,16],:]
gdp1

      국가별 1990   2000  2010   2018
1   　　　한국    -   72.1  92.7  104.7
16  　　　일본    -  112.2   100      -

In [35]:
np.where(gdp['국가별']=='일본')

(array([], dtype=int64),)

In [38]:
gdp1['gdp 상승률']= (gdp1['2010']/gdp1['2000'])*100
gdp1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      국가별 1990   2000  2010   2018  gdp 상승률
1   　　　한국    -   72.1  92.7  104.7  128.571
16  　　　일본    -  112.2   100      -  89.1266

In [ ]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False #minus 표시
mpl.rc('font', family='Malgun Gothic')  # 폰트 설정(맑은 고딕)
%matplotlib inline

plt.rcParams['figure.figsize']=(12,6)
plt.rcParams['font.size']=14

df = result.set_index('국가별')

df['소계'].sort_values().plot(kind='barh', grid=True, figsize=(12,10))

plt.show()