# Chapter 14. Pandas

In [1]:
import pandas as pd

## Series

In [4]:
# ex 14-1

obj = pd.Series([5,-4,7,0,12])
obj

0     5
1    -4
2     7
3     0
4    12
dtype: int64

In [5]:
# ex 14-2

obj.values

array([ 5, -4,  7,  0, 12], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
obj[2]

7

In [9]:
#ex 14-3
obj = pd.Series([10,20,30,40,50], index=['a', 'b', 'c', 'd', 'e'])
obj

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
obj.values

array([10, 20, 30, 40, 50], dtype=int64)

In [11]:
obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
obj['a']

10

In [19]:
obj[['a', 'd']]

a    10
d    40
dtype: int64

In [15]:
obj[1:4]

b    20
c    30
d    40
dtype: int64

In [16]:
obj['a':'d']

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
# ex 14-4
obj * 10

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [20]:
obj[obj > 25]

c    30
d    40
e    50
dtype: int64

In [22]:
# ex 14-5

pop = pd.Series([9765623, 3441453, 2461769], index=['서울', '부산', '대구'])

In [24]:
for i , v in pop.items():
    print('%s : %d'%(i,v))

서울 : 9765623
부산 : 3441453
대구 : 2461769

In [25]:
for item in pop:
    print(item)

9765623
3441453
2461769

In [26]:
import pandas as pd

pop = pd.Series({'서울': 9765623, '부산': 3441453, '대구':2461769}, 
                index=['서울', '부산', '대구', '광주', '대전'])
print(pop)

pop['광주']= 149336

print('광주시 인구 : %.0f명'%pop['광주'])

서울    9765623.0
부산    3441453.0
대구    2461769.0
광주          NaN
대전          NaN
dtype: float64
광주시 인구 : 149336명

In [27]:
import pandas as pd

pop = pd.Series({'서울': 9765623, '부산': 3441453, '대구':2461769}, 
                index=['서울', '부산', '대구', '광주', '대전'])
pop

서울    9765623.0
부산    3441453.0
대구    2461769.0
광주          NaN
대전          NaN
dtype: float64

In [28]:
## isna() >> nan 값이 있는냐?
## fillna()


pop.isna()

서울    False
부산    False
대구    False
광주     True
대전     True
dtype: bool

In [30]:
pop.fillna(0)
pop

서울    9765623.0
부산    3441453.0
대구    2461769.0
광주          NaN
대전          NaN
dtype: float64

In [34]:
import pandas as pd

data = {'이름': ['홍지수', '안지영', '김성수', '최예린'],
       '아이디': ['jshong','jyahn','sukim','yrchoi'],
       '비밀번호': ['1234','1234','1234', '1234']}

frame = pd.DataFrame(data)

frame

    이름     아이디  비밀번호
0  홍지수  jshong  1234
1  안지영   jyahn  1234
2  김성수   sukim  1234
3  최예린  yrchoi  1234

# DataFrame

In [35]:
frame['이름']

0    홍지수
1    안지영
2    김성수
3    최예린
Name: 이름, dtype: object

In [36]:
frame[0]

KeyError: 0

In [37]:
frame['이름'][0]

'홍지수'

In [39]:
## ex 14-8

member = {'이름': ['김영준','한지원'],
         '나이':[20,23],
         '전화번호' : ['010-3535-4576', '010-1295-7899']}

member

{'이름': ['김영준', '한지원'],
 '나이': [20, 23],
 '전화번호': ['010-3535-4576', '010-1295-7899']}

In [40]:
df = pd.DataFrame(member,
                 columns = ['이름', '전화번호', '나이', '주소'],
                 index=['01','02'])

df

     이름           전화번호  나이   주소
01  김영준  010-3535-4576  20  NaN
02  한지원  010-1295-7899  23  NaN

In [47]:
# ex 14-9

import pandas as pd
data = { '학교명' : ['가나고', '다라고', '마바고', '사아고', '자차고'],
     '학급수' : [25,23,15,19,10],
     '학생수' : [620,600,550,580,400],
     '교사수' : [80,95,70,90,65]}

frame = pd.DataFrame(data, index=['01','02','03','04','05'])


frame

    학교명  학급수  학생수  교사수
01  가나고   25  620   80
02  다라고   23  600   95
03  마바고   15  550   70
04  사아고   19  580   90
05  자차고   10  400   65

In [49]:
frame['학생수'][2]

550

In [52]:
frame['학생수']['03']

550

In [53]:
frame.loc['03','학생수']

550

In [54]:
frame.loc['04',['학교명', '학급수', '교사수']]

학교명    사아고
학급수     19
교사수     90
Name: 04, dtype: object

In [64]:
# ex 14-10

import pandas as pd

data = {'아이디': ['kim', 'song', 'han', 'choi'],
       '구매상품': ['상품A','상품B','상품C','상품D'],
       '가격' : [15000,23000,33000,50000],
        '개수' : [3,5,1,10],
        '구매일' : ['0303','0810','0120','0601']}

frame = pd.DataFrame(data)
frame

    아이디 구매상품     가격  개수   구매일
0   kim  상품A  15000   3  0303
1  song  상품B  23000   5  0810
2   han  상품C  33000   1  0120
3  choi  상품D  50000  10  0601

In [66]:
frame['개수'][1], frame.loc[1,'개수']

(5, 5)

In [68]:
frame.iloc[1,3]

5

In [76]:
#ex 14-11

import pandas as pd

scores = {'이름' : ['김지영','안지수','최성수','황예린','김소정'],
         '국어' : [95,97,90,94,87],
         '영어' : [90,86,93,85,93],
         '수학' : [85,88,89,88,99]}

frame = pd.DataFrame(scores)
print(frame)

print()
frame2 = frame.iloc[:,[1,2,3]]
print(frame2)

print()
total = frame2.sum(axis =1)
print(total)

    이름  국어  영어  수학
0  김지영  95  90  85
1  안지수  97  86  88
2  최성수  90  93  89
3  황예린  94  85  88
4  김소정  87  93  99

   국어  영어  수학
0  95  90  85
1  97  86  88
2  90  93  89
3  94  85  88
4  87  93  99

0    270
1    271
2    272
3    267
4    279
dtype: int64

In [77]:
frame['평균'] = frame2.mean(axis=1)
frame

    이름  국어  영어  수학         평균
0  김지영  95  90  85  90.000000
1  안지수  97  86  88  90.333333
2  최성수  90  93  89  90.666667
3  황예린  94  85  88  89.000000
4  김소정  87  93  99  93.000000

In [79]:
#ex 14-12

import pandas as pd

scores = {'이름' : ['김지영','안지수','최성수','황예린','김소정'],
         '국어' : [95,97,90,94,87],
         '영어' : [90,86,93,85,93],
         '수학' : [85,88,89,88,99]}

frame = pd.DataFrame(scores)
frame2 = frame.iloc[:,[1,2,3]]

total = frame2.sum(axis=1)
avg = frame2.mean(axis =1)

print('-'*50)
print('이름 합계 평균')
print('-'*50)
for i in range(5):
    print('%s %d %.2f'%(frame.iloc[i,0],total.iloc[i],avg.iloc[i]))
    
print('-'*50)

--------------------------------------------------
이름 합계 평균
--------------------------------------------------
김지영 270 90.00
안지수 271 90.33
최성수 272 90.67
황예린 267 89.00
김소정 279 93.00
--------------------------------------------------

In [81]:
frame[['이름','합계','평균']]

KeyError: "['평균', '합계'] not in index"

In [82]:
frame.count()

이름    5
국어    5
영어    5
수학    5
dtype: int64

In [83]:
frame.sort_values(by=['합계'], axis=0)

KeyError: '합계'

In [84]:
frame

    이름  국어  영어  수학
0  김지영  95  90  85
1  안지수  97  86  88
2  최성수  90  93  89
3  황예린  94  85  88
4  김소정  87  93  99

# apply 변환

In [86]:
df = pd.DataFrame({
    'A' : [1,3,4,3,4],
    'B' : [2,3,1,2,3,],
    'C' : [1,5,2,4,4]
})
df

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [87]:
df.apply(lambda x : x.max()- x.min())

A    3
B    2
C    4
dtype: int64

In [88]:
df.apply(pd.value_counts)

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [90]:
df.apply(pd.value_counts).fillna(0).astype(int) ##Metthod chaining
                                                ##

   A  B  C
1  1  1  1
2  0  2  1
3  2  2  0
4  2  0  2
5  0  0  1

In [93]:
## ex 14-14


import population as pop

list_data = []

pop.get_list(list_data)
print(list_data)

ModuleNotFoundError: No module named 'population'