# Chapter 02. 파이썬의 기본 문법

In [1]:
# 예제 2-1
a = 20
b = 30
c = a+b
print(c)

50

In [2]:
# 2-2 올바른 변수명
x = 20
computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

In [3]:
# 2-2 mod
x = 20
computer = 'Mac'
age = 30
my_score = 70
_name = '홍길동'
my_yirth_year = 1997
data2 = 20.3

print(x, computer, age, my_score, _name, my_yirth_year, data2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
# ex 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [5]:
# ex 2-5
x = 3.3764
y= 6/2
print(x,y)
print(type(x),type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [6]:
# ex 2-7
a = 30                 #0001 1110
print(a)
print(type(a))

b = '30'               # ASCII code (0x33, 0x30), Human interaction
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [7]:
y = '나는 행복합니다.'

print(y[:2])
print(y[3:-1])
print(y[3:5])

start = 2
print(y[start:start+2])

나는
행복합니다
행복
 행

In [8]:
z = '내 강아지 이름은 happy에요'
print(z[2:5], z[10:15], z[-8:-3])

강아지 happy  happ

In [9]:
# ex 2-9
a = True
b = False
print(a)
print(b)

c = 10>20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [10]:
x = 3**2
a = x%2
 
print(a)

1

In [11]:
x = 4**3
print(x)

64

In [12]:
sum = 0
for i in range(1,11):
    sum +=i

print(sum)

55

In [13]:
a = '안녕하시렵니까.'

b = len(a)

print(a[3:b])

시렵니까.

In [14]:
# ex 2-17
name = '홍지수'
gReet = name + '님 안녕하세요!'
print(gReet)

홍지수님 안녕하세요!

In [15]:
# ex 2-19

eng = 80
result = '영어점수 : ' + str(eng) + '점'
print(result)

영어점수 : 80점

In [16]:
#ex 2-22
year = 2020
month = 3
day = 5

a = '%d-%08d-%04d'%(year, month, day)
print(a)

2020-00000003-0005

In [17]:
#ex 2-23
height = 172.5
a = '키는 %10.2f입니다.'% height
print(a)

키는     172.50입니다.

In [18]:
#ex 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)
d = '키 : {}'.format(height)
print(a)
print(b)
print(c)
print(d)

이름 : 황예린
나이 : 18세
시력 : 1.2
키 : 172.5

In [19]:
#문자열 메소드
x = 'I am happy!'
x.count('am')

1

In [20]:
x.find('happy')

5

In [21]:
x.upper()

'I AM HAPPY!'

In [22]:
x.lower()

'i am happy!'

In [23]:
x.replace('am', 'was')

'I was happy!'

In [24]:
x.split('p')

['I am ha', '', 'y!']

In [25]:
#ex 2-25
name = '홍길동'
age = 30
height = 173.7
print(name, age, height)

홍길동 30 173.7

In [26]:
#ex 2-26
x = 10
y = 20

print('x = ' + str(x) + 'y = ' + str(y))

x = 10y = 20

In [27]:
#ex 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d'%(score1, score2))
print('합계 : %d, 평균 : %.2f'%(sum,avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [28]:
#ex 2-28
name = '김소원'
id = 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디 : {}, 마일리지 : {}'.format(id, point))

이름 : 김소원
아이디 : kim, 마일리지 : 18000

In [29]:
str(90)

'90'

In [30]:
#ex 2-29
year = 2020
month = 3
day =5

print(year, month, day, sep='/')

2020/3/5

In [31]:
#ex 2-30
a = '안녕하세요'
b = '반갑습니다.'

print(a)
print(b)

print('\n\n')

print(a, end='')
print(b)

안녕하세요
반갑습니다.



안녕하세요반갑습니다.

In [33]:
#ex 2-31
name = input('이름을 입력하세요')

print('%s님 반갑습니다.'%name)

이름을 입력하세요오주현
오주현님 반갑습니다.

In [ ]:
#ex 2-32
a = input('첫 번째 숫자를 입력하세요. :')
b = input('두 번째 숫자를 입력하세요. :')

c = a + b

print(c)
print(type(a), type(b), type(c))

In [2]:
# 오늘은 2020/5/29 입니다.
year = 2020
month = 5
day = 29

print('오늘은', end=' ')
print(year, month, day, sep='/', end=' ')
print('입니다.')

오늘은 2020/5/29 입니다.

# ex 2-33
a = input('첫 번째 숫자를 입력하세요. :')
b = input('두 번째 숫자를 입력하세요. :')

c = int(a) + int(b) # 문자열 숫자 이므로 int(정수화)를 해주어야 나열이 아닌 더할수 있다.

print(c)
print(type(a), type(b), type(c))

In [1]:
a = input('first number> ')
b = input('sencond number> ')
print('sum =', a+b)

first number> 1
sencond number> 2
sum = 12

In [2]:
a = int(input('first number> '))
b = int(input('sencond number> '))
print('sum =', a+b)

first number> 2
sencond number> 3
sum = 5

In [3]:
# ex 2-35

"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10        # 변수 a에 10 저장
b = 20        # 변수 b에 20 저장

c = a + b        # 두 수를 더해 변수 c에 저장

# 결과를 출력한다.
print(c)

30

In [ ]:
# Q2-1
width = 10
hei